<!-- Launch this in the namespace for the youBot being used, e.g. "mufasa" -->
<launch>
  <node ns="mufasa" name="position_control" pkg="youbot_position" type="position_control.py">
    <param name="global_frame" value="world"/> 
    <!-- Change this for the particular youBot being used -->
    <param name="youbot_frame" value="vicon/Mufasa_Base/Mufasa_Base"/>
  </node>

  <node ns="mufasa" name="PID_scale" pkg="pid" type="controller" >
    <!-- Topic for output of PID controller -->
    <param name="topic_from_controller" value="control" />
    <!-- Topic for state (distance to goal) -->
    <param name="topic_from_plant" value="error" />
    <!-- Topic for setpoint (constant 0) -->
    <param name="setpoint_topic" value="setpoint" />
    <!-- These are untuned, treat with caution -->
    <param name="Kp" value="0.68" />
    <param name="Ki" value="0.0" />
    <param name="Kd" value="0.014" />
  </node>
</launch>
